body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
}
h1{
    font-size:30px ;

}
h2{
    font-size: 30px;
    color: solid black;
}
p{
    color: dimgray;
    padding-bottom: 20px;
}

.nav{
    height: 60px;
    width: 90%;
    margin-bottom: 50px;
}
.nav ul{
    
    float: right;
    margin-right: 100px;
    
}
.nav ul li{
    margin-top: 20px;
    display: inline-block;
    margin-right:20px ;
    position: relative;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(199, 142, 18),rgb(248, 178, 27));
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    font-weight: bold;

}
.color{
    color: rgb(202, 9, 67);
}
.header{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header img{
    width: 40%;
    margin-top: 20px;
    
}
section{
    height: 300px;
    
  
}
 .project{
    height: 700px;
    width: 99%;
    background-color: rgb(173, 167, 167);
    margin-bottom:50px ;
    padding-left:20px ;
    
    
}
 
.project .work{
    float: left;
    
    height: 390px;
    width: 30%;
    background-color: white;
    border-radius: 30px;

    
    
}
.project .work img{
   
   width: 100%;
    
}
.project h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px; 
}
.work-inquery{
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 150px;
    text-align: center;
    height: 200px;
    position: relative;
    margin-top: 3%;
}

.work-inquery .txt{
    position: absolute;
    padding-left: 500px;
    padding-top: 50px;
    color: white;
}
.work-inquery .chat {
    position: absolute;
    padding-top:85px ;
    float: right;
    padding-left:900px ;
    
}
.work-inquery .chat a{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(90deg,rgb(199, 142, 18),rgb(248, 178, 27));
   padding: 14px 16px;
}
.share{
    text-align: center;
}
.share .sharein a{
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    color: yellow;
    border-radius: 50px;
}
.contact{
    height: 200px;
    text-align: center;
    padding-top: 3%;
    position: relative;
}
.contact h2{
    padding-top: 0;
}
.contact .social-media img{
    width: 2%;
    si;
    padding-right: 10px;

}
footer p{
    padding-top: 5px;
    text-align: center;
}